.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

#div-header {

    background-image: url(images/header-background-01.png);
    background-size: 100%;
}

.center-pills {
    display: flex;
    justify-content: center;
}

#tab-ul {



}

.list-item-pills {

    margin-right: 50px;
    margin-left: 50px;
}

.nav-pills > li > a {
    border-radius: 20px;
    border-color: #337ab7;
    border-style: solid;
    color: white;
}

.nav > li > a:hover, .nav > li > a:focus {

    background-color: #337ab7;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

table.topTen {
    width:100%;
    max-width:100%;
    border-left:1px solid #dddddd;
    border-right:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
}

table.topTen>thead>tr>th, table.topTen>tbody>tr>th, table.topTen>tfoot>tr>th, table.topTen>thead>tr>td, table.topTen>tbody>tr>td, table.topTen>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

table.topTen tr:nth-child(odd)	{background-color:#ffffff;}
table.topTen tr:nth-child(even)	{background-color:#f1f1f1;}


