<div class="row">
    <div class="col-md-2">
        <p class="text-muted"></p>
    </div>
    <div class="col-md-8" ng-controller="QrcodeController">

        <div ng-hide="stored">
            <form name="qrcodeForm" class="input-group" novalidate>

                <input type="url" class="form-control" style="font-weight:bold" placeholder="Paste your URL here"
                       ng-model="url" required>
                <span class="input-group-btn">
                    <a class="btn btn btn-primary" ng-click="qrcodeForm.$valid && showQrcode()">Get the QRcode</a>
                </span>

            </form>
            <br>

            <div class="text-center" collapse="!qrcodeEnabled">

                <h2>Your url has been encoded!</h2><br>

                <div>
                    <qrcode version="2" error-correction-level="M" size="200" data="{{url}}"></qrcode>
                </div>

            </div>
        </div>

        <div class="text-center" ng-show="stored">

            <h2>Your url has been encoded!</h2>

            <div>
                <qrcode version="2" error-correction-level="M" size="200" data="{{longStored}}"></qrcode>
            </div>

        </div>
    </div>
    <div class="col-md-2">
        <p class="text-muted"></p>
    </div>
</div>