<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="shortenerApp">
<head>
    <meta charset="utf-8">

    <title>Shrink it!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="styles/bootstrap/css/bootstrap.css"/>

    <link rel="stylesheet" href="styles/main.css">

</head>
<body ng-view="">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-controller="TabController as tab" ng-cloak>
    <div class="header">
        <div class="container-fluid" style=" background-image:url(images/header-background-01.png); background-size:100%">

            <br>
            <br>

            <div class="text-center">
                <h1 style="color: white; font-weight:bold">Shrink it!</h1>
                <p class="lead">Simplify your web experience with an usefull web tool</p>
            </div>
            <br>
            <br>


            <ul id="tab-ul" class="nav nav-pills center-pills">

                <li ng-class="{active : tab.isSelected('home'), 'list-item-pills': true}">
                    <a ng-click="tab.selectTab('home')">Home</a>
                </li>
                <li ng-class="{active : tab.isSelected('shortener'), 'list-item-pills': true}">
                    <a ng-click="tab.selectTab('shortener')">Shortener</a>
                </li>
                <li ng-class="{active : tab.isSelected('preview'),'list-item-pills': true}">
                    <a ng-click="tab.selectTab('preview')">Preview</a>
                </li>
                <li ng-class="{active : tab.isSelected('qrcode'),'list-item-pills': true}">
                    <a ng-click="tab.selectTab('qrcode')">QRCode</a>
                </li>
                <li ng-class="{active : tab.isSelected('stats'),'list-item-pills': true}">
                    <a ng-click="tab.selectTab('stats')">Statistics</a>
                </li>
            </ul>
            <br>

        </div>

    </div>

    <div class="page-header">

    </div>

    <div class="container">

        <br>
        <div ></div>

        <div ng-show="tab.isSelected('home')">
            <home-directive></home-directive>
        </div>

        <div ng-show="tab.isSelected('shortener')">
            <shortener-directive></shortener-directive>
        </div>

        <div ng-show="tab.isSelected('preview')">
            <preview-directive></preview-directive>
        </div>
        <div ng-show="tab.isSelected('qrcode')">
            <qrcode-directive></qrcode-directive>
        </div>

        <div ng-show="tab.isSelected('stats')">
            <stats-directive></stats-directive>
        </div>

    </div>

</div>


<!-- External js -->
<script src="js3rdpart/angular/angular.js"></script>
<script src='js3rdpart/angular/angular-route.js'></script>
<script src="js3rdpart/angular/angular-sanitize.js"></script>
<script src="js3rdpart/angular/angular-animate.js"></script>

<script src='js3rdpart/jquery/jquery.js'></script>

<script src="js3rdpart/bootstrap-3.3.5-dist/js/bootstrap.js"></script>

<script src='js3rdpart/qrcode/angular-qrcode.js'></script>
<script src="js3rdpart/qrcode/qrcode.js"></script>
<script src="js3rdpart/qrcode/qrcode_UTF8.js"></script>

<script src="js3rdpart/angular-load/angular-load.js"></script>

<script src="js3rdpart/ui-bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>

<script src="js3rdpart/sockjs/sockjs.js"></script>
<script src="js3rdpart/vertxbus/vertxbus.js"></script>

<script src="js3rdpart/angularjs-geolocation/src/geolocation.js"></script>

<!-- Internal js -->
<script src="js/services/TabService.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/appController.js"></script>
<script src="js/services/CRUD.js"></script>
<script src="js/services/BusinessDelegate.js"></script>
<script src="js/directives/appDirective.js"></script>


</body>
</html>




